# Unity
*Library/
*Logs/
*Temp/
*obj/
*bin/
*UserSettings/
*MemoryCaptures/
*TextMesh Pro/

# Project
*.sln
*.csproj

# IDE Settings
*.vscode/
*.vs/
*.DotSettings.user

# Mono crash files
*.blob

# Rider files
.idea

# Game Logs files
*.JHLog
*.JHLog.meta

