[submodule "/home/daniliammo/UnityProjects/JustHookOnline/Assets/Tools/MeshCombiner"]
	path = /home/daniliammo/UnityProjects/JustHookOnline/Assets/Tools/MeshCombiner
	url = https://github.com/dawid-t/Mesh-Combiner
